# General
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Visual Studio и Rider
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
[Ll]og/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]inaries/
[Oo]utput/
[Tt]emp/
[Rr]eports/
_ReSharper*/
[Tt]est[Rr]esult*
[Pp]ublish/
*.opensdf
*.sdf
*.opendb
*.VC.db

# Rider
*.sln.iml

# .NET Core
dotnet.exe
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
/packages/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
net8.0/
net7.0/
net6.0/
netcoreapp3.1/
netstandard2.0/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/

