name: CI

on:
  push

jobs:
  build:
    name: build-and-test-${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: macos-latest
            build-script: ./build-and-test.sh

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Make script executable
        if: runner.os != 'Windows'
        run: chmod +x build-and-test.sh

      - name: Build
        run: ${{ matrix.build-script }} build

      - name: Test
        run: ${{ matrix.build-script }} test
